<!DOCTYPE html>

<html lang="eng">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <title>@ViewData["Title"] - Media Matters</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="~/CSS/Site.css" />
</head>
<body>
    <header>
        <div class="container navbar-container">
            <nav class="navbar navbar-inverse navbar-expand">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/Home/Index#Index">My Media</a>
                    </div>
                    <div id="navbar" class="navbar-collapse">
                        <ul class="navbar-nav flex-row">
                            <li class="nav-item p-2">
                                <a class="nav-link" href="/Home/Index#Index">Home</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link" href="/Home/Album#Album">Albums</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link" href="/Home/Book#Book">Books</a>
                            </li>
                            <li class="nav-item p-2">
                                <a class="nav-link" href="/Home/Movies#Movies">Movies</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <di>
        @RenderBody()
    </di>

    <script src="~/lib/jquery/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>
